body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark gray text */
  margin: 0;
  padding: 0;
}

.header {
  display: flex; /* Use Flexbox for alignment */
  justify-content: space-between; /* Space between header text and buttons */
  align-items: center; /* Center items vertically */
  background-color: #343a40; /* Dark background */
  color: white;
  padding: 20px;
}

.header h1 {
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Adjust font size */
  color: white;
}

.nav-button {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.logout-button {
  background-color: #dc3545; /* Bootstrap danger color */
}

.logout-button:hover {
  background-color: #c82333; /* Darker shade on hover */
}

.filter-container {
  display: flex;
  margin: 20px;
  text-align: center;
  width: 99%;
}

.filter-options {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 5px;
}

input[type="text"],
select {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #007bff; /* Bootstrap primary color */
}

.movie-list {
  display: flex; /* Use flexbox for horizontal alignment */
  flex-wrap: wrap; /* Allow wrapping to next line if needed */
  justify-content: center; /* Center the movie cards */
  margin: 20px; /* Margin around the movie list */
}

h2 {
  color: #007bff; /* Bootstrap primary color */
  margin-top: 20px;
  text-align: center;
}

.movie-card {
  background-color: white; /* White background for movie cards */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  margin: 15px;
  padding: 20px;
  width: 300px; /* Fixed width for uniformity */
  transition: transform 0.3s; /* Animation on hover */
}

.movie-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.movie-trailer-container {
  overflow: hidden;
  border-radius: 10px; /* Rounded corners */
}

.movie-trailer {
  width: 100%;
  height: 180px; /* Fixed height for trailers */
}

.showtimes {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.showtime-button {
  background-color: #28a745; /* Bootstrap success color */
  color: white;
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.showtime-button:hover {
  background-color: #218838; /* Darker shade on hover */
}

@media (max-width: 768px) {
  .movie-card {
    width: 90%; /* Full width on small screens */
  }
}
